body {
    font-family: roboto;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: #1f2937;
    flex: 1 0 0;
    padding: 8px 64px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}

.links {
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: lighter;
    gap: 18px;
}

.hero-message {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 32px 64px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.hero-text #main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-text #secondary {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

.hero-text button {
    width: 100px;
    background-color: #3882f6;
    color: #E5E7EB;
    border: none;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 8px 16px;
}

.image {
    display: flex;
    flex: 1;
    background-color: rgb(219, 219, 219);
    justify-content: center;
    align-items: center;
}

.tiles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tiles #info {
    margin: 32px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px 64px 64px 64px;
}

.block {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 200px;
    margin: 32px;
    text-align: center;
}

.square {
    width: 200px;
    height: 200px;
    border: solid 4px #3882f6;
    border-radius: 32px;
    margin: 8px 0px;
}

.subtext {
    font-size: 18px;
    color: #1f2937;
    font-weight: 400;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    align-items: flex-end;
    padding: 100px;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 200;
}

#reference {
    font-weight: 900;
    font-size: 24px;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 8px;
    margin: 64px;
    padding: 32px;
    color: #E5E7EB;
}

#action-main {
    font-weight: bolder;
    font-size: 24px;
}

#action-secondary {
    font-size: 18px;
    font-weight: 400;
}

.action button {
    width: 150px;
    height: 50px;
    background-color: #3882f6;
    border: solid 2px #E5E7EB;
    border-radius: 8px;
    color: #E5E7EB;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

.footer {
    text-align: center;
    background-color: #1f2937;
    color: #E5E7EB;
    padding: 16px 0px;
}